{% extends "base.html.twig" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
    <div class="container">
        {% if  themeName  not in  themes %}
            <p>Ce thème n'existe pas.</p>
        {% else %}
            <h1>{{ themeName}}</h1>
        {% endif %}
            
        {% if articles|length > 0 %}
            {% for article in articles %}
                <div class="card">
                    <div class="card__header">
                    </div>
                    <div class="card__body">
                        <h2>{{ article.title }} V</h2>
                        {% autoescape "html" %}
                            <p>{{ article.description|raw}}</p>
                        {% endautoescape %} 
                        <p>{{ article.date|format_datetime('short', 'none', locale='fr') }} par {{ article.author }}</p>
                    
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun article associé au thème {{ themeName }}</p>
        {% endif %}
    </div>
{% endblock %}