{% extends "base.html.twig" %}

{% block title %}
    Saison - {{ themeName|capitalize }}
{% endblock %}

{% block body %}

    <div class="container container__theme">    
        <div class="row">
            <div class="col-2 container__index ">
                <ul>
                    <h4> Index </h4>
                    {% if articles|length == 0 %}
                        <p>aucun article rédigé.</p>
                        <a class="btn btn-secondary btn-sm" href="{{ path('article_create') }}">Rédigez-en un <i class=></i></a>
                    {% endif %}
                    {% for article in articles %}
                        <li><a href="{{path('article_show', {'theme' : themeName, 'step' : article.step})}}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm container__description">
              {% include 'pages/themes_description/'  ~ themeName ~ '.html.twig' %}
            </div>
        </div>
        
    </div>
        

    <div class="container container__comments mt-5 mb-5 comment-{{ themeName }}-theme ">
        <h2>Commentaires de {{ themeName }}</h2>
        {% if app.user %}
            <div class="col-4">
                {% include "comments/form.html.twig" %}
            </div>
        {% else %}
            <a href="{{ path('security_login') }}">Connectez-vous pour poster un commentaire.</a>
        {% endif %}
  
       {% include "comments/show.html.twig" %}
        <div class="mt-2">
            {{ knp_pagination_render(comments) }}
        </div>

    </div>
{% endblock %}

{% block theme_banner %}
    <img class="img__fond__theme" src="{{ asset('/build/img/svg/spring_fond.svg') }}" alt="Un bourgeon.">
{% endblock %}