{% extends "base.html.twig" %}

{% block title %}
    Saison - {{ themeName|capitalize }}
{% endblock %}

{% block body %}

    {% if themeName == 'spring' %}
         {% set video = 'spring_video.mp4' %}
     {% endif %}

     {% if themeName == 'summer' %}
         {% set video = 'summer_video2.mp4' %}
     {% endif %}

     {% if themeName == 'autumn' %}
         {% set video = 'autumn_video.mp4' %}
     {% endif %}

     {% if themeName == 'winter' %}
         {% set video = 'winter_video.mp4' %}
     {% endif %}

     {% if themeName == 'spring2' %}
         {% set video = 'spring2_video.mp4' %}
     {% endif %}

    <video class="video_themes" autoplay muted loop id="myVideo">
        <source src="{{ asset('/build/img/videos/' ~ video) }}" type="video/mp4">
    </video>

    <div class="container container__theme"> 
        <div class="row mt-5 ">
            <div class="col-3">
                {% include "shared/_searchForm.html.twig" %}
            </div>
        </div>
        <div class="row">
            <div class="col-2 container__index ">
                <ul>
                    <h4> Index </h4>
                    {% if articles|length == 0 %}
                        <p>aucun article rédigé.</p>
                    {% endif %}
                    {% for article in articles %}
                        <li><a href="{{path('article_show', {'theme' : themeName, 'step' : article.step})}}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm container__description">
              {% include 'pages/themes_description/'  ~ themeName ~ '.html.twig' %}
            </div>
        </div>
        
    </div>
        

    <div class="container container__comments mt-5 mb-5 comment-{{ themeName }}-theme ">


     {% if themeName == 'spring' %}
         <h2>Commentaires printaniers</h2>
     {% endif %}

     {% if themeName == 'summer' %}
         <h2>Commentaires estivaux</h2>
     {% endif %}

     {% if themeName == 'autumn' %}
         <h2>Commentaires automnaux</h2>
     {% endif %}

     {% if themeName == 'winter' %}
         <h2>Commentaires hivernaux</h2>
     {% endif %}

     {% if themeName == 'spring2' %}
         <h2>Commentaires printanier</h2>
     {% endif %}

       
        
  
       {% include "comments/show.html.twig" %}
        <div class="mt-2">
            {{ knp_pagination_render(comments) }}
        </div>

        {% if app.user %}
            <div class="col-4">
                {% include "comments/form.html.twig" %}
            </div>
        {% else %}
            <a href="{{ path('security_login') }}">Connectez-vous pour poster un commentaire.</a>
        {% endif %}
    </div>

{% endblock %}

{# {% block theme_banner %}
    <img class="img__fond__theme" src="{{ asset('/build/img/svg/spring_fond.svg') }}" alt="Un bourgeon.">
{% endblock %} #}