                {% if  themeName  not in  themes %}
                    <p>{%trans%}Ce thème n'existe pas.{%endtrans%}</p>
                {% else %}
                    <h1>{{ themeName }}</h1>
                {% endif %}

                <div class="container container__descriptiontheme  container__descriptiontheme--autumn">
                    <div class="row">
                        <div class="col ">
                            <p class="mb-5">{%trans%}Après le chaud été, L'automne est la saison qui représente la maturité atteinte du stage, les derniers mois, peut être une esquisse de ce que j'aurais fait différement.{%endtrans%} <p>
                                
                     {% if articles|length > 0 %}
                                    <a href="{{ path('article_show', {theme:'autumn', step: 1}) }}" class="btn btn-success btn-sm">{%trans%}Découvrir{%endtrans%} <i class="fas fa-book-reader"></i></a>
                                {% else %}
                                    <a href="{{ path('article_create') }}" class="btn btn-success btn-sm">{%trans%}créer le premier article.{%endtrans%} <i class="fas fa-feather-alt"></i></a>
                                {% endif %}
                                <a href="{{ path('navigation_theme', {theme:'winter'}) }}" class="btn btn-secondary btn-sm">{%trans%}Thème suivant{%endtrans%} <i class="fas fa-chevron-right"></i></a>
                            </p>
                        </div>
                        <div class="col container__img">
                            <img src="{{ asset('/build/img/svg/feuille.svg') }}" alt="Une feuille d'automne.">
                        </div>
                    </div>
                </div>

                
                


