                {% if  themeName  not in  themes %}
                    <p>Ce thème n'existe pas.</p>
                {% else %}
                    <h1>{{ themeName }}</h1>
                {% endif %}

                <div class="container container__descriptiontheme  container__descriptiontheme--spring2">
                    <div class="row">
                        <div class="col ">
                                <p class="mb-5">Car les saisons se suivent inévitablement, le printemps finit toujours par revenir, et car le terme "évolution" est tissée dans les mailles que définissent la vie,  
                                                je prendrais le temps d'extraire de cette expérience les points positifs qui m'ont fait grandir. </p>                             <p>
                                   {% if articles|length > 0 %}
                                    <a href="{{ path('article_show', {theme:'spring2', step: 1}) }}" class="btn btn-success btn-sm">Découvrir <i class="fas fa-book-reader"></i></a>
                                {% else %}
                                    <a href="{{ path('article_create') }}" class="btn btn-success btn-sm">créer le premier article.<i class="fas fa-feather-alt"></i></a>
                                {% endif %}
                                <a href="{{ path('navigation_theme', {theme:'summer'}) }}" class="btn btn-secondary btn-sm">Thème suivant <i class="fas fa-chevron-right"></i></a>
                            </p>
                        </div>
                        <div class="col container__img">
                            <img src="{{ asset('/build/img/svg/bourgeon.svg') }}" alt="Un bourgeon.">
                        </div>
                    </div>
                </div>

                
                

                