                {% if  themeName  not in  themes %}
                    <p>{%trans%}Ce thème n'existe pas.{%endtrans%}</p>
                {% else %}
                    <h1>{{ themeName }}</h1>
                {% endif %}

                <div class="container container__descriptiontheme  container__descriptiontheme--spring">
                    <div class="row">
                        <div class="col">
                            <p class="mb-5">{%trans%}Ce thème est une représentation des prémisses, des attentes, des idées bourgeonnantes, des espérances. <br> Rien a ce stade n'a été fait et tout se dessine.{%endtrans%}</p>
                              {% if articles|length > 0 %}
                                    <a href="{{ path('article_show', {theme:'spring', step: 1}) }}" class="btn btn-primary btn-sm">{%trans%}Découvrir{%endtrans%}<i class="fas fa-book-reader"></i></a>
                                {% else %}
                                    <a href="{{ path('article_create') }}" class="btn btn-primary btn-sm">{%trans%}créer le premier article.{%endtrans%} <i class="fas fa-feather-alt"></i></a>
                                {% endif %}
                                <a href="{{ path('navigation_theme', {theme:'summer'}) }}" class="btn btn-secondary btn-sm">{%trans%}Thème suivant{%endtrans%} <i class="fas fa-chevron-right"></i></a>
                            </p>
                        </div>
                        <div class="col container__img">
                            <img src="{{ asset('/build/img/svg/bourgeon.svg') }}" alt="Un bourgeon.">
                        </div>
                    </div>
                </div>

                
                
