                {% if  themeName  not in  themes %}
                    <p>{%trans%}Ce thème n'existe pas.{%endtrans%}</p>
                {% else %}
                    <h1>{{ themeName }}</h1>
                {% endif %}

                <div class="container container__descriptiontheme  container__descriptiontheme--winter">
                    <div class="row">
                        <div class="col ">
                                 <p class="mb-5">{%trans%}L'hiver représente le calme glacial, l'introspection à tête reposée. C'est le moment de faire le point sur les points les moins avouables, "après autant de mois, l'informatique est-il fait pour moi?" <br> les choses que l'on aurait fait différent si on pouvait recoller les feuilles sur les branches dégarnies.
                                 Débutez la lecture par le premier article de ce thème.{%endtrans%}</p> 
                                               {% if articles|length > 0 %}
                                    <a href="{{ path('article_show', {theme:'winter', step: 1}) }}" class="btn btn-success btn-sm">{%trans%}Découvrir{%endtrans%}<i class="fas fa-book-reader"></i></a>
                                {% else %}
                                    <a href="{{ path('article_create') }}" class="btn btn-success btn-sm">{%trans%}créer le premier article.{%endtrans%}<i class="fas fa-feather-alt"></i></a>
                                {% endif %}
                                <a href="{{ path('navigation_theme', {theme:'spring2'}) }}" class="btn btn-secondary btn-sm">{%trans%}Thème suivant{%endtrans%}<i class="fas fa-chevron-right"></i></a>
                            </p>
                        </div>
                        <div class="col container__img">
                            <img src="{{ asset('/build/img/svg/dame.svg') }}" alt="La dame de l'hiver.">
                        </div>
                    </div>
                </div>


