<div class="card article">
        <div class="card__header">
            <a class="btn btn-sm bookmark" href="{{ path('user_bookmark', {'article_id':article.id, 'article_theme':article.theme.name, 'article_step':article.step}) }}"><i class="far fa-2x fa-bookmark"></i></a>
            {% if article.image.name is defined %}
                <h2>{{ article.title }}</h2>
                <img src="{{ asset('build/img/')~article.image.name }}" alt="">
                <span class="author_date">Article crée le {{ article.date|format_datetime('short', 'none', locale='fr') }}  {{  article.author ? 'par' . article.autor : '' }}</span>
                <span class="article_update">Mis à jour le {{ article.updated|format_datetime('short', 'none', locale='fr') }}</span>
            {% endif %}
        </div>
        <div class="card__body">
            {% if article.image.name is not defined%}
                <h2>{{ article.title }}</h2>
            {% endif %}
            
            {% autoescape "html" %}
                <p>{{ article.description|raw}}</p>
            {% endautoescape %} 
        </div>
       
</div>