<nav class="nav nav__main pt-3 justify-content-between">
    <ul>
        <li><a class="text-center" href="{{ path('navigation_theme', {'theme':'spring'}) }}">

                <img src="{{ asset('build/img/navbar/icon-mini.png') }}" alt="un arbre représentant les 4 saisons">
        </a></li>
        <li>
            <div class="dropdown">
                <span>Saisons</span>
                <div class="dropdown-content">
                    {% for t in themes %}
                        <p><a class="dropdown__links" href="{{ path('navigation_theme', {'theme' : t}) }}">{{ t }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </li>
            {% if app.user.roles[0] is defined %}
                {% if app.user.roles[0] is same as('ROLE_ADMIN') %}
                    <li><a href="{{ path('article_create') }}">Créer un article <i class="fas fa-plus"></i></a></li>
                    <li><a href="{{ path('administration_administrateArticles') }}">Gestion des articles <i class="fas fa-book"></i></a></li>
                    <li><a href="{{ path('administration_administrateUsers', {page:1} ) }}">Gestion des utilisateurs <i class="fas fa-user"></i></a></li>
                {% endif %}
            {% endif %}
    </ul>
    <ul>
        <li>

            
            {# <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="chercher un article" aria-label="Search"
                aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </div> #}
        </li>
        {% if not app.user %}
            <li><a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('security_login') }}">Connexion</a></li>
        {% endif %}
            <li><a class="btn  my-2 my-sm-0" href="{{ path('registration_register') }}">Créer un compte</a></li>
        {% if app.user %}
            <li> <a class="btn" href="{{ path('user_show') }}">gérer mon compte</a> </li>
            <li><a class="btn btn-outline-danger my-2 my-sm-0" href="{{ path('security_logout') }}">Déconnexion</a></li>
        {% endif %}

    </ul>
</nav>

