<nav class="nav nav__main pt-3 justify-content-between">
    <ul>
        <li>
            <a class="text-center" href="{{ path('navigation_theme', {'theme':'spring'}) }}">
                <img src="{{ asset('build/img/navbar/icon-mini.png') }}" alt="un arbre représentant les 4 saisons">
            </a>
        </li>
        <li>
            <div class="dropdown">
                <span class="btn my-2 my-sm-0">{% trans %} Saisons {% endtrans %}</span>
                <div class="dropdown-content">
                    {% for t in themes %}
                        <a class="dropdown__links" href="{{ path('navigation_theme', {'theme' : t}) }}"> <img src="{{ asset('build/img/icon/' ~   t  ~ '.png') }}" alt="">   </a>
                    {% endfor %}
                </div>
            </div>
        </li>
        <li>
            <a class="btn" href="{{ path('navigation_homepage') }}">{% trans %}Ce projet{% endtrans %}</a>
        </li>
        <li>
            {% if app.user %}
                {% if app.user.bookmark is not null %}
                    <a  class="btn my-2 my-sm-0" title="Reprenez votre lecture à l'article marqué précedemment."  href="{{ path('article_showById', {'id':app.user.bookmark}) }}"><span class="navbar__text">{% trans %}Reprendre la lecture{% endtrans %}</span> <i class="fas fa-bookmark"></i></a>
                {% endif %}
            {% endif %}
        </li>
        <li>
            <a class="btn my-2 my-sm-0" title="télécharger l'ensemble du rapport de stage en pdf!" href="{{ path('navigation_download') }}"><span class="navbar__text">{% trans %}Télécharger{% endtrans %} </span><i class="fas fa-download"></i></a>
        </li>
        {% if app.user.roles[0] is defined %}
            {% if app.user.roles[0] is same as('ROLE_ADMIN') %}
                <li><a class="btn my-2 my-sm-0" title="créer un article" href="{{ path('article_create') }}"><span class="navbar__text"> {% trans %}Créer un article{% endtrans %} </span><i class="fas fa-plus"></i></a></li>
                <li><a class="btn my-2 my-sm-0" title="gestion des articles" href="{{ path('administration_administrateArticles') }}"><span class="navbar__text">{% trans %}Gestion des articles{% endtrans %} </span><i class="fas fa-book"></i></a></li>
                <li><a class="btn my-2 my-sm-0" title="gestion des utilisateurs" href="{{ path('administration_administrateUsers', {page:1} ) }}"><span class="navbar__text">{% trans %}Gestion des utilisateurs{% endtrans %} </span><i class="fas fa-user"></i></a></li>
            {% endif %}
        {% endif %}
    </ul>
    <ul>
        {% if not app.user %}
            <li><a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('security_login') }}"><span class="navbar__text"> Connexion </span> <i class="fas fa-sign-in-alt"></i></a></li>
        {% endif %}
            <li><a class="btn my-2 my-sm-0" href="{{ path('registration_register') }}"><span class="navbar__text"> {% trans %} Créer un compte {% endtrans %} </span><i class="fas fa-scroll"></i></a></li>
        {% if app.user %}
            <li> <a class="btn" href="{{ path('user_show') }}"><span class="navbar__text"> {% trans %} gérer mon compte {% endtrans %}</span><i class="fas fa-user"></i></a></li>
            <li><a class="btn btn-outline-danger my-2 my-sm-0" href="{{ path('security_logout') }}"> <span class="navbar__text">{% trans %} Déconnexion {% endtrans %}</span><i class="fas fa-sign-out-alt"></i></a></li>
        {% endif %}

        {% for locale in locales %}
            {% if locale != app.request.locale %}
            <li>
            
                <a href="{{ path('user_changelocale', {'locale': locale}) }}"><img src="{{ asset('build/img/icon/' ~ locale  ~ '.png') }}"  alt=""> </a>
            <li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

