{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="container">
    <h1>Panneau d'aministration des articles</h1>

        <table class="table table-sm table-bordered table-hover" style="width:80%">
            <thead>
                <tr >
                    <th scope="col" style="width:7%">Theme</th>
                    <th scope="col">Titre</th>
                    <th scope="col" style="width:7%">Supprimer</th>
                    <th scope="col" style="width:7%">Modifier</th>
                </tr>
            </thead>
            <tbody>

                {% for article_spring in articles_spring%}
                    <tr class="table-success">
                        <td><a class="badge bg-success" href="{{ path('navigation_theme', {theme: article_spring.theme.name}) }}">{{ article_spring.theme.name }}</a></td>
                        <td>{{ article_spring.title  }}</td>
                        <td><button class="btn btn-danger"><a href="{{ path('article_delete', {'id': article_spring.id}) }}">supprimer</a></button></td>
                        <td><button class="btn btn-warning"><a href="{{ path('article_edit', {'id': article_spring.id}) }}">modifier</a></button></td>
                    </tr>
                {% endfor %}

                {% for article_summer in articles_summer %}
                    <tr class="table-danger">
                        <td><a class="badge bg-danger" href="{{ path('navigation_theme', {theme: article_summer.theme.name}) }}">{{ article_summer.theme.name }}</a></td>
                        <td>{{ article_summer.title }}</td>
                        <td><button class="btn btn-danger"><a href="{{ path('article_delete', {'id': article_summer.id}) }}">supprimer</a></button></td>
                        <td><button class="btn btn-warning"><a href="{{ path('article_edit', {'id': article_summer.id}) }}">modifier</a></button></td>
                    </tr>
                {% endfor %}

                {% for article_autumn in articles_autumn%}
                    <tr class="table-warning">
                        <td><a class="badge bg-warning" href="{{ path('navigation_theme', {theme: article_autumn.theme.name}) }}">{{ article_autumn.theme.name }}</a></td>
                        <td>{{ article_autumn.title }}</td>
                        <td><button class="btn btn-danger"><a href="{{ path('article_delete', {'id': article_autumn.id}) }}">supprimer</a></button></td>
                        <td><button class="btn btn-warning"><a href="{{ path('article_edit', {'id': article_autumn.id}) }}">modifier</a></button></td>
                    </tr>
                {% endfor %}

                {% for article_winter in articles_winter %}
                    <tr class="table-secondary">
                        <td><a class="badge bg-secondary" href="{{ path('navigation_theme', {theme: article_winter.theme.name}) }}">{{ article_winter.theme.name }}</a></td>
                        <td>{{ article_winter.title }}</td>
                        <td><button class="btn btn-danger"><a href="{{ path('article_delete', {'id': article_winter.id}) }}">supprimer</a></button></td>
                        <td><button class="btn btn-warning"><a href="{{ path('article_edit', {'id': article_winter.id}) }}">modifier</a></button></td>
                    </tr>
                {% endfor %}

                {% for article_spring2 in articles_spring2 %}
                    <tr class="table-success">
                        <td><a class="badge bg-success" href="{{ path('navigation_theme', {theme: article_spring2.theme.name}) }}">{{ article_spring2.theme.name }}</a></td>
                        <td>{{ article_spring2.title }}</td>
                        <td><button class="btn btn-danger"><a href=""><a href="{{ path('article_delete', {'id': article_spring2.id}) }}">supprimer</a></a></button></td>
                        <td><button class="btn btn-warning"><a href="{{ path('article_edit', {'id': article_spring2.id}) }}">modifier</a></button></td>
                    </tr>
                {% endfor %}
            
            
            </tbody>
        </table>
</div>
{% endblock %}
